@use '../../variables' as *;

.container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 7em;
	width: 100%;
}

.textContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 1em;
	font-weight: 500;
	text-align: left;
	gap: 1.25em;
	p {
		line-height: 1.6em;
	}
}


@media screen and (max-width : 1024px) {
	.container {
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-self: flex-start;
		gap: 4.25em;
	}
	
	.textContainer {
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		margin-top: 0;
	}
}

@media screen and (max-width : 576px) {
	.container {
		gap: 3.25em;
	}
	
	.textContainer {
		font-size: $font-size-s;
	}

	.formContainer {
		width: 100%;
	}
}

@media screen and (max-width : 360px) {
	.container {
		gap: 2.25em;
	}
	
	.textContainer {
		font-size: $font-size-xs;
	}

	.formContainer {
		width: 100%;
	}
}